* {
    transition: 0.3s;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.left-block,
.right-block {
    width: 10%;
    gap: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.center-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.progress {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 400px;
}

.score,
.level {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.score-name,
.level-name {
    color: white;
    font-size: 20px;
}

.score-number {
    color: yellow;
    font-size: 40px;
    line-height: 0px;
}

.level-number {
    color: red;
    font-size: 40px;
    line-height: 0px;
}

.github {
    color: white;
    text-decoration: none;
}

.button-pause,
.button-rules,
.button-records,
.button-theme,
.button-lang,
.button-sound {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(180, 180, 180);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    cursor: pointer;
}

.button-pause:hover,
.button-rules:hover,
.button-records:hover,
.button-theme:hover,
.button-lang:hover,
.button-sound:hover {
    -webkit-box-shadow: 0px 0px 8px 5px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0px 0px 8px 5px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 8px 5px rgba(255, 255, 255, 0.5);
}

.button-pause {
    background-image: url(./assets/img/pause_black_24dp.svg);
}

.button-pause-tgl {
    background-image: url(./assets/img/play_arrow_black_24dp.svg);
}

.button-rules {
    background-image: url(./assets/img/keyboard_black_24dp.svg);
}

.button-records {
    background-image: url(./assets/img/star_black_24dp.svg);
}

.button-theme {
    background-image: url(./assets/img/light_mode_black_24dp.svg);
}

.button-theme-tgl {
    background-image: url(./assets/img/dark_mode_black_24dp.svg);
}

.button-lang {
    background-image: url(./assets/img/language_black_24dp.svg);
}

.button-sound {
    background-image: url(./assets/img/volume_up_black_24dp.svg);
}

.button-sound-tgl {
    background-image: url(./assets/img/volume_off_black_24dp.svg);
}

.rules {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.rules-tgl {
    display: flex;
}

.container-rulesб
.container-records {
    border-radius: 20px;
    width: 500px;
    height: 520px;
    background-color: rgb(48, 48, 48);
    z-index: 2;
    text-align: center;
    color: white;
    
    
}
.container-rules p {
    text-align: justify;
    margin-left: 50px;
    display: flex;
    align-items: center;
    padding-right: 50px;
    color: white;
}